@if(ItemCount() != 0){
  <div class="relative min-h-screen">
    <div class="container mx-auto px-4 py-6">
      <div class="bg-gray-200 shadow-md rounded-lg p-4">
        <!-- Responsive grid layout -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-12 gap-6">
          
          <!-- Products Section -->
          <div class="md:col-span-2 lg:col-span-9 space-y-4">
            @for(p of data().products ;track $index){
              <div class="bg-white p-4 shadow rounded-lg flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
                <img [src]="p.product.imageCover" alt="Product Image" class="w-full md:w-24 h-24 object-cover rounded">
                <div class="flex-1">
                  <h2 class="text-lg font-bold">{{p.product.title?.split(" ")?.splice(0,3)?.join(" ")}}</h2>
                  <div class="flex flex-col md:flex-row items-start md:items-center justify-between mt-2 space-y-2 md:space-y-0 md:space-x-2">
                    <span class="text-gray-800 font-semibold">{{p?.price}} <span class="pr-2 main-color">EGP</span></span>
                    <div class="flex items-center space-x-2">
                      <button (click)="UpdateCartProductQuantity(p.product._id,p.count = p.count-1)" class="border border-green-400 text-black px-3 py-1 rounded font-semibold">-</button>
                      <span class="text-lg w-8 text-center">{{p.count}}</span>
                      <button (click)="UpdateCartProductQuantity(p.product._id,p.count = p.count+1)" class="border border-green-400 text-black px-3 py-1 rounded font-semibold">+</button>
                      <button (click)="RemoveSpecificCartItem(p.product._id)" title="Remove From Cart" class="bg-white text-red-500 px-4 py-2 rounded font-semibold"><i class="fa fa-trash"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
          
          <!-- Actions Section -->
          <div class="md:col-span-2 lg:col-span-3 bg-gray-100 p-4 shadow rounded-lg space-y-4 sticky top-0 md:top-32 self-start">
            <div>
              <h2 class="text-lg md:text-xl font-bold main-color">Order Summary</h2>
              <p class="text-lg mt-2 text-black font-semibold"> {{data()?.totalCartPrice}} <span class="pr-2 main-color">EGP</span></p>
            </div>
            <button class="w-full bg-red-500 text-white p-3 rounded" [disabled]="clearCart()" (click)="ClearUserCart()">Clear All</button>
            <button class="w-full bg-blue-500 text-white p-3 rounded" [disabled]="cartEmpty()" [routerLink]="['/Orders',data()._id]">Checkout</button>
          </div>
        
        </div>
      </div>
    </div>
  </div>
}

@if(ItemCount() == 0){
  <div class="relative min-h-screen">
    <div class="container mx-auto px-4 py-6 bg-gray-200">
      <h4 class="text-center text-2xl sm:text-3xl main-color">No items in your cart</h4>
    </div>
  </div>
}


