@if(step == 1){
<div class="w-6/12 mx-auto shadow p-5 mb-10 mt-10">
    <h1 class="text-2xl py-3 main-color font-semibold">Verfiy Email</h1>

    <form class="pt-2 pb-10" [formGroup]="verfiyEmailForm" (ngSubmit)="verfiyEmailSubmit()">
        <div>
            <label for="">email : </label>
            <input [ngClass]="{
                'is-valid': !verfiyEmailForm.get('email')?.errors && (verfiyEmailForm.get('email')?.touched || verfiyEmailForm.get('email')?.dirty),
                'is-invalid': verfiyEmailForm.get('email')?.errors && (verfiyEmailForm.get('email')?.touched || verfiyEmailForm.get('email')?.dirty)
            }" type="email" id="email" [(ngModel)]="Email" formControlName="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <div class="  main-color px-1 py-2 mb-5  relative text-center" role="alert">
                <strong class=" font-bold"> Enter a real email, not a fake one.</strong>
            </div>
            @if(verfiyEmailForm.get('email')?.errors && (verfiyEmailForm.get('email')?.touched ||
            verfiyEmailForm.get('email')?.dirty)){
            <div class="bg-red-200  p-2 mt-2 mb-3 rounded">
                @if(verfiyEmailForm.get('email')?.getError('required')){
                <p>Email is Required</p>
                }
                @else if(verfiyEmailForm.get('email')?.getError('email')){
                <p>Enter Valid Email </p>
                }
            </div>
            }
        </div>


        <div class="flex items-center justify-end gap-4 ">

            <button [disabled]="verfiyEmailForm.invalid || isLoading" type="submit"
                title="Enter data in Form For Enable Button" class="link-style  mt-2 mb-2">
                @if(isLoading){
                <span class="pr-1">Verfiy Email</span>
                <span><i class="fa fa-spinner fa-spin"></i></span>
                }
                @else{
                <span>Verfiy Email</span>
                }
            </button>
        </div>
    </form>

</div>
}

@else if(step == 2){
<div class="w-6/12 mx-auto shadow p-5 mb-10 mt-10">
    <h1 class="text-2xl  py-3 main-color font-semibold">Verfiy Code</h1>




    <form class="pt-10 pb-10" [formGroup]="verfiyCodeForm" (ngSubmit)="verfiyCodeSubmit()">
        <div>
            <label for="resetCode">Code : </label>
            <input [ngClass]="{
                'is-valid': !verfiyCodeForm.get('resetCode')?.errors && (verfiyCodeForm.get('resetCode')?.touched || verfiyCodeForm.get('resetCode')?.dirty),
                'is-invalid': verfiyCodeForm.get('resetCode')?.errors && (verfiyCodeForm.get('resetCode')?.touched || verfiyCodeForm.get('resetCode')?.dirty)
            }" type="text" id="resetCode" formControlName="resetCode"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if(verfiyCodeForm.get('resetCode')?.errors && (verfiyCodeForm.get('resetCode')?.touched ||
            verfiyCodeForm.get('resetCode')?.dirty)){
            <div class="bg-red-200  p-2 mt-2 mb-3 rounded">
                @if(verfiyCodeForm.get('resetCode')?.getError('required')){
                <p>Code is Required</p>
                }
                <!--  @else if(verfiyCodeForm.get('resetCode')?.getError('pattern')){
                <p>must be at least 6 chars </p>
                } -->
            </div>
            }
        </div>


        <div class="flex items-center justify-end gap-4 ">

            <button [disabled]="verfiyCodeForm.invalid || isLoading" type="submit"
                title="Enter data in Form For Enable Button" class="link-style  mt-2 mb-2">
                @if(isLoading){
                <span class="pr-1">Verfiy Code</span>
                <span><i class="fa fa-spinner fa-spin"></i></span>
                }
                @else{
                <span>Verfiy Code</span>
                }
            </button>
        </div>
    </form>

</div>
}

@else if(step == 3){

<div class="w-6/12 mx-auto shadow p-5 mb-10 mt-10">
    <h1 class="text-2xl py-3 main-color font-semibold">Enter New Password </h1>
    <form class="pt-10 pb-10" [formGroup]="resetPasswordFrom" (ngSubmit)="ResetPasswordSubmit()">
        <div>
            <label for="">email : </label>
            <input [ngClass]="{
                'is-valid': !resetPasswordFrom.get('email')?.errors && (resetPasswordFrom.get('email')?.touched || resetPasswordFrom.get('email')?.dirty),
                'is-invalid': resetPasswordFrom.get('email')?.errors && (resetPasswordFrom.get('email')?.touched || resetPasswordFrom.get('email')?.dirty)
            }" type="email" id="email" [(ngModel)]="Email" readonly formControlName="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if(resetPasswordFrom.get('email')?.errors && (resetPasswordFrom.get('email')?.touched ||
            resetPasswordFrom.get('email')?.dirty)){
            <div class="bg-red-200  p-2 mt-2 mb-3 rounded">
                @if(resetPasswordFrom.get('email')?.getError('required')){
                <p>Email is Required</p>
                }
                @else if(resetPasswordFrom.get('email')?.getError('email')){
                <p>Enter Valid Email </p>
                }
            </div>
            }
        </div>
        <div>
            <label for="">newPassword : </label>
            <input [ngClass]="{
                'is-valid': !resetPasswordFrom.get('newPassword')?.errors && (resetPasswordFrom.get('newPassword')?.touched || resetPasswordFrom.get('newPassword')?.dirty),
                'is-invalid': resetPasswordFrom.get('newPassword')?.errors && (resetPasswordFrom.get('newPassword')?.touched || resetPasswordFrom.get('newPassword')?.dirty)
            }" type="password" id="newPassword" formControlName="newPassword"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if(resetPasswordFrom.get('newPassword')?.errors && (resetPasswordFrom.get('newPassword')?.touched ||
            resetPasswordFrom.get('newPassword')?.dirty)){
            <div class="bg-red-200  p-2 mt-2 mb-3 rounded">
                @if(resetPasswordFrom.get('newPassword')?.getError('required')){
                <p>password is Required</p>
                }
                @else if(resetPasswordFrom.get('newPassword')?.getError('pattern')){
                <p>must be at least 6 chars</p>
                }
            </div>
            }
        </div>


        <div class="flex items-center justify-end gap-4 ">

            <button [disabled]="resetPasswordFrom.invalid || isLoading" type="submit"
                title="Enter data in Form For Enable Button" class="link-style  mt-2 mb-2">
                @if(isLoading){
                <span class="pr-1">Change Password</span>
                <span><i class="fa fa-spinner fa-spin"></i></span>
                }
                @else{
                <span>Change Password </span>
                }
            </button>
        </div>
    </form>

</div>
}