


.product {
    border-radius: 5px;
    transition: box-shadow 0.5s;
    overflow: hidden;
}



.main {
    min-height: 620px;
}





.product:hover .btn-addToCard {
    transform: translateY(-5px);
}
.btn-addToCard{
    transition: 0.5s;
    transform: translateY(120%);
}


.loveIconregular {
    color:rgb(173, 173, 173);
}

.loveIconsolid {
    color: var(--main-color);
    transition: .4s;
    transform: scale(1.1);
}